<nav class="navbar navbar-expand-lg navbar-dark bf -dark">
    <a class="navbar-brand" >YouBookings</a>
    <div>
        <button class="btn btn-primary " routerLink="/dashboard">Back</button>
    </div>
</nav>

<div class="container mt-5">
  <h4>To cancel your plan</h4>

     <div class="form-group">
        <label for="Ticket no">Ticket No:</label>
        <input type="tel" class="form-control" [(ngModel)]="ticketNO" id="last" size="20" maxlength="37" placeholder="enter your ticket no">
     </div><br> 
      <button type="submit" class="btn btn-primary "  routerLink="/dashboard" (click)="deleteTicket(ticketNO)"  >cancel</button>

</div>  <br><br>

<!--<div >
    <table class="table table-stripped table-hover" >
        <thead class="table-stripped table-dark">
            <tr>
                <th scope="col" >Ticket_NO</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile_number</th>
                <th scope="col"> date_of_booking</th>
                <th scope="col">place_from</th>
                <th scope="col"> place_to</th>
            </tr>
        </thead>
        <tbody >
           <tr>
                <td class="table-dark table-stripped ">ticket_no</td>
                <td>name</td>
                <td>mobile_number</td>
                <td>date_of_booking</td>
                <td>place_from</td>
                <td>place_to</td>
            </tr>

        </tbody>
    </table>

</div> 
-->
